<h1>受講登録状況</h1>

<h2>前期</h2>
<table class="table">
  <thead>
    <tr>
      <th>時限</th>
      <th>月曜日</th>
      <th>火曜日</th>
      <th>水曜日</th>
      <th>木曜日</th>
      <th>金曜日</th>
    </tr>
  </thead>
  <tbody>
    <% (1..5).each do |period| %>
      <tr>
        <td><%= "#{period}限" %></td>
        <% ['月曜日', '火曜日', '水曜日', '木曜日', '金曜日'].each do |day| %>
          <td>
            <% lecture = current_user.enrollments.joins(:lecture).find_by(lectures: { day: day, period: "#{period}限", semester: '前期' }) %>
            <% if lecture %>
              <%= lecture.lecture.name %> <br>
              <%= link_to '編集', edit_enrollment_path(lecture), class: 'btn btn-primary btn-sm' %> <%= button_to '削除', enrollment_path(lecture), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
            <% else %>
              <%= link_to '追加', new_enrollment_path(day: day, period: "#{period}限", semester: '前期'), class: 'btn btn-success btn-sm' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>後期</h2>
<table class="table">
  <thead>
    <tr>
      <th>時限</th>
      <th>月曜日</th>
      <th>火曜日</th>
      <th>水曜日</th>
      <th>木曜日</th>
      <th>金曜日</th>
    </tr>
  </thead>
  <tbody>
    <% (1..5).each do |period| %>
      <tr>
        <td><%= "#{period}限" %></td>
        <% ['月曜日', '火曜日', '水曜日', '木曜日', '金曜日'].each do |day| %>
          <td>
            <% lecture = current_user.enrollments.joins(:lecture).find_by(lectures: { day: day, period: "#{period}限", semester: '後期' }) %>
            <% if lecture %>
              <%= lecture.lecture.name %> <br>
              <%= link_to '編集', edit_enrollment_path(lecture), class: 'btn btn-primary btn-sm' %> <%= button_to '削除', enrollment_path(lecture), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
            <% else %>
              <%= link_to '追加', new_enrollment_path(day: day, period: "#{period}限", semester: '後期'), class: 'btn btn-success btn-sm' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", home_top_path %>

<%= stylesheet_link_tag 'home_top' %>