<h1>新規授業登録</h1>

<%= link_to '戻る', :back, class: 'btn btn-secondary mb-3' %>

<h2>授業一覧</h2>

<% lectures = Lecture.where(day: params[:day], period: params[:period], semester: params[:semester]) %>

<% if lectures.present? %>
  <ul>
    <% lectures.each do |lecture| %>
      <li>
        <%= lecture.name %>
      </li>
    <% end %>
  </ul>

  <h3>授業を選択して登録</h3>
  <%= form_with(model: @enrollment, url: enrollments_path, method: :post) do |form| %>
    <%= form.hidden_field :day, value: params[:day] %>
    <%= form.hidden_field :period, value: params[:period] %>
    <%= form.hidden_field :semester, value: params[:semester] %>
    
    <div class="form-group">
      <%= form.label :lecture_id, '授業名' %>
      <%= form.collection_select :lecture_id, lectures, :id, :name, prompt: '授業を選択してください', class: 'form-control' %>
    </div>
    
    <%= form.submit '登録する', class: 'btn btn-primary' %>
  <% end %>

<% else %>
  <p>該当する授業がありません。</p>
<% end %>